[Unit]
Description=HappyRO login server
After=happyro-mariadb.service
Requires=happyro-mariadb.service

[Service]
WorkingDirectory=/opt/happyro-demo/current/rathena
ExecStart=/opt/happyro-demo/current/rathena/login-server
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
