[Unit]
Description=HappyRO MariaDB
After=mariadb.service
Requires=mariadb.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/happyro-demo/current/deployment/deploy/production/database-service.sh initialize
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
