[Unit]
Description=HappyRO map server
After=happyro-char.service
Requires=happyro-char.service

[Service]
WorkingDirectory=/opt/happyro-demo/current/rathena
ExecStart=/opt/happyro-demo/current/rathena/map-server
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
