[Unit]
Description=HappyRO web API
After=happyro-char.service
Requires=happyro-char.service

[Service]
WorkingDirectory=/opt/happyro-demo/current/rathena
ExecStart=/opt/happyro-demo/current/rathena/web-server
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
