COMPOSE_PROJECT_NAME=happyro
RELEASE_VERSION=@VERSION@
GATEWAY_IMAGE=docker.io/happyro/gateway:@VERSION@
SERVER_IMAGE=docker.io/happyro/server:@VERSION@
ADMIN_IMAGE=docker.io/happyro/admin:@VERSION@
DATABASE_IMAGE=docker.io/happyro/database:@VERSION@
RESOURCE_DIR=./resources
DATA_DIR=./data
GAME_PUBLIC_URL=http://localhost:3338
ADMIN_PUBLIC_URL=http://localhost:8000
ADMIN_STATEFUL_DOMAINS=localhost:8000
GATEWAY_PORT=3338
ADMIN_PORT=8000
SESSION_SECURE_COOKIE=false
DB_PASSWORD=
ADMIN_DB_PASSWORD=
MARIADB_ROOT_PASSWORD=
INTERSERVER_PASSWORD=
GAME_CONTROL_TOKEN=
APP_KEY=
