PORT=3338
CLIENT_PUBLIC_URL=http://10.24.1.1:3338
NODE_ENV=development

CACHE_MAX_FILES=5000
CACHE_MAX_MEMORY_MB=1024
CACHE_WARM_UP=true
CACHE_WARM_UP_LIMIT=500

ENABLE_WSPROXY=true
ENABLE_STATIC_SERVE=true
ROBROWSER_PATH=../../repos/happyro-client/dist/Web
ROBROWSER_PUBLIC_PATH=/applications/pwa
WS_ALLOWED_TARGETS=10.24.1.1:6900,10.24.1.1:6121,10.24.1.1:5121
RATHENA_WEB_API_URL=http://127.0.0.1:8889

ESRGAN_ENABLED=false

DATA_OVERRIDE_PATH=../../localization/client/data
